body{
    background-color: #F5F5F5;
}

#navbar-example2{
    position: fixed;
    z-index: 1;
    width: 100%;
    opacity: 0.90;
}

/* navbar start */
#font{
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 1px;
    font-weight: 660;
    color: white;
}


.nav-link{
    color: white;
    position: relative;
}

.nav-link:hover, .nav-link:focus{
    color: white;
}

.nav-link::before{
    content: "";
    height: 2px;
    width: 60%;
    background-color: white;
    position: absolute;
    left: 1;
    bottom: -2px;
    opacity: 0;
    transition: all 1s;
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link.selected::before
{
    opacity: 1;
}
/* navbar end*/



/* header start*/
#home{
    background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.452) ), url(./../images/hero-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.text{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
}

.text h1{
    font-size: 72px;
    font-weight: 600;
}

.text span{
    font-size: 40px;
    font-weight: 600;
}
/* header end*/



/* about start*/
#txt p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

#txt p strong{
    font-size: 17.6px;
    line-height: 26.4px;
    font-weight: 600;
}

#image img{
    border-radius: 6px;
}

.skill p{
    font-size: 17.6px;
    line-height: 26.4px;
    font-weight: 600;
}

.title h5{
    font-size: 32px;
    font-weight: 500;
    position: relative;
}

.title h5::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 25%;
    background-color: #0078FF;
    left: 0;
    bottom: -10px;
}

.desc p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #4E4E4E ;
}
/* about end*/

/* serivces start*/
.title h3{
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.title p{
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
    position: relative;
}

.title p::after{
   content: "";
   position: absolute;
   height: 5px;
   width: 4%;
   bottom: -15px;
   background-color: #0078FF;
   left: 50%;
   transform: translate(-50%, 0);
}

#data{
    margin-bottom: 3rem;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    box-shadow: 0 13px 8px -5px rgba(0, 0, 0, 0.1);
}

#data h2{
    font-size: 22.4px;
    line-height: 26.88px;
    font-weight: 500;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 0 10px #0078ff;
    line-height: 1.55;
    border-radius: 50%;
    transition: all 0.3s;
}

.icon:hover{
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #00b7ff;
}

.info p{
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
}
/* serivces end*/

/* statcs start*/
#statcs{
    background: linear-gradient(rgba(19, 104, 200, 0.5), rgba(19, 104, 200, 0.5) ),url(./../images/counters-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 8rem 0 4rem 0;
}

#statcs .icons{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 0 10px #CDE1F8;
    line-height: 1.55;
    border-radius: 50%;
    color: white;
}

#statcs .spcing{
    padding-bottom: 30px;
}

.stat-txt{
    padding-top: 20px;
}
.stat-txt p{
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin-bottom: 0;
}

.stat-txt span{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
/* statcs end*/

/* portfolio start*/
#portfolio #data{
    border-radius: 0;
}

#portfolio h2{
    font-size: 19.2px;
    font-weight: 500;
}

.pic img{
    transition: all 1s;
}

.pic:hover img{
    transform: scale(1.3); 
}

#portfolio .info p{
    font-size: 12.8px;
    line-height: 19.2px;
    font-weight: 400;
}

#portfolio .plus-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 0 2px #0078ff;
    border-radius: 50%;
}
/* portfolio end*/

/* gallery start*/
#gallery{
    background-color: #F7F7F7;
    padding: 0.1rem 0;
}
#gallery img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#gallery .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
}

#gallery .carousel-inner h5{
    font-size: 22.4px;
    color: white;
    font-weight: 600;
    line-height: 33.6px;
    padding-top: 1rem;
}

#gallery .carousel-inner p{
    font-size: 20px;
    font-weight: 300;
    color: white;
}
/* gallery end*/

/* blog start*/
#blog .info h3{
    font-size: 20.8px;
    font-weight: 500;
    line-height: 24.96px;
}

#blog .info p{
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
}

#blog #data{
    border-radius: 0;
}

#blog .tail{
    background-color: #F5F5F5;
}

#blog .tail-img img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#blog .data{
    position: relative;
}

#blog .badge{
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: -19px;
    left: 13px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}

#blog .bd-box{
    display: inline-block;
    color: #fff;
    padding: 5px 15px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
}
/* blog end*/

/* contact start*/
#contact{
    background: linear-gradient(rgba(19, 104, 200, 0.5), rgba(19, 104, 200, 0.5) ),url(./../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem 0;
}

#contact .icon{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 3px #0078ff;
    margin: 0;
}

#contact .icon:hover{
    background-color: #0078ff;
    color: white;
    box-shadow: 0 0 0 3px #00b7ff;
}

#contact .submit{
    background-color: #3393FF;
    padding: 10px 24px;
    border-radius: 5rem;
    width: fit-content;
    transition: all 0.5s;
}

#contact .submit:hover{
    background-color: rgba(51, 147, 255, 0.8);
    box-shadow: 0 0 0 4px #CDE1F8;
}

#contact .submit a{
    text-decoration: none;
    color: white;
    font-size: 19.2px;
    font-weight: 400;
}
/* contact end*/

/* footer */
footer{
    background-color: #0062D3;
    color: white;
    padding: 20px 0;
}

footer p{
   margin-bottom: 0.3rem;
}
/* footer */



